[submodule "flocker"]
	path = flocker
	url = https://github.com/wallnerryan/flocker-profiles.git
[submodule "scaleio-vagrant-7"]
	path = scaleio-vagrant-7
	url = https://github.com/wallnerryan/scaleio-vagrant-7.git
[submodule "scaleio-vagrant"]
	path = scaleio-vagrant
	url = https://github.com/wallnerryan/scaleio-vagrant-7.git
[submodule "flocker-scaleio-singlenode"]
	path = flocker-scaleio-singlenode
	url = https://github.com/wallnerryan/flocker-scaleio-singlenode.git
[submodule "profiles_scaleio_driver"]
	path = profiles_scaleio_driver
	url = https://github.com/emccorp/scaleio-flocker-driver
[submodule "scaleio-py"]
	path = scaleio-py
	url = https://github.com/wallnerryan/scaleio-py
